Repository jasset75/symb0l: changes, and which lefthook commands are due for each by the changed paths.
All: lint-staged, format-staged, type-check

lefthook.yml:

# Lefthook configuration for pre-commit hooks
# https://github.com/evilmartians/lefthook

pre-commit:
  parallel: true
  commands:
    compile-diagrams:
      run: export PATH=$HOME/.local/share/mise/shims:$PATH && pnpm run compile-diagrams
      stage_fixed: true

    lint-staged:
      glob: "*.{js,ts,mjs}"
      run: |
        pnpm exec eslint {staged_files} && \
        pnpm exec prettier --check {staged_files}

    format-staged:
      glob: "*.{json,md,yml,yaml}"
      run: pnpm exec prettier --check {staged_files}

    type-check:
      glob: "*.{ts,tsx}"
      run: pnpm exec tsc --noEmit

    # tests:
    #   glob: "*.{ts,tsx}"
    #   run: pnpm test

feat: Add NASDAQ:IPX
  packages/core/src/seeds/instruments.ts
  packages/core/src/seeds/listings.ts
  packages/core/src/seeds/sub_industries.ts
Due: lint-staged, type-check

feat: first endpoint draft
  apps/api/package.json
  apps/api/src/domain/interfaces/market-data-provider.ts
  apps/api/src/domain/services/quote-service.ts
  apps/api/src/index.ts
  apps/api/src/infrastructure/providers/mock-provider.ts
  apps/api/src/infrastructure/providers/twelve-data-provider.ts
  apps/api/src/plugins/quote-service-plugin.ts
  apps/api/src/routes/quotes.ts
  apps/api/src/schemas/common.ts
  pnpm-lock.yaml
Due: lint-staged, format-staged, type-check

fix: remove unused imports
  apps/api/src/routes/quotes.ts
Due: lint-staged, type-check

chore: new commands to improve the monorepo managing
  package.json
Due: format-staged

fix: duplicated schema registration
  apps/api/src/index.ts
Due: lint-staged, type-check

feat: versioning middleware
  apps/api/src/config/versions.config.test.ts
  apps/api/src/config/versions.config.ts
  apps/api/src/index.ts
  apps/api/src/plugins/version-resolver.plugin.ts
  apps/api/src/routes/quotes.test.ts
  apps/api/src/routes/quotes.ts
Due: lint-staged, type-check

feat: health endpoint and make it default
  apps/api/src/index.ts
Due: lint-staged, type-check

feat(api): implemented sunsetting mechanism
  apps/api/api-version.json
  apps/api/src/config/versions.config.test.ts
  apps/api/src/config/versions.config.ts
  apps/api/src/config/versions.config.validation.test.ts
  apps/api/src/index.ts
  apps/api/src/plugins/version-headers.plugin.ts
  apps/api/src/plugins/version-resolver.plugin.ts
  apps/api/src/routes/quotes.test.ts
Due: lint-staged, format-staged, type-check

feat: new health endpoint version with the deprecation workflow activated
  apps/api/api-version.json
  apps/api/src/config/versions.config.test.ts
  apps/api/src/config/versions.config.ts
  apps/api/src/index.ts
  apps/api/src/plugins/versioned-routes.plugin.ts
  apps/api/src/routes/health.test.ts
  apps/api/src/routes/health.ts
  apps/api/src/routes/quotes.test.ts
  apps/api/src/routes/quotes.ts
Due: lint-staged, format-staged, type-check

doc(api): API best practices
  apps/api/CHANGELOG.md
  apps/api/README.md
Due: format-staged

refactor: improve readability with fastify/sensible and common openapi schema
  apps/api/package.json
  apps/api/src/index.ts
  apps/api/src/routes/health.test.ts
  apps/api/src/routes/health.ts
  apps/api/src/routes/quotes.test.ts
  apps/api/src/routes/quotes.ts
  apps/api/src/schemas/common.ts
  pnpm-lock.yaml
Due: lint-staged, format-staged, type-check

feat(api): adding typebox as schema manager for openapi
  apps/api/package.json
  apps/api/src/index.ts
  apps/api/src/routes/health.ts
  apps/api/src/routes/quotes.ts
  apps/api/src/schemas/common.ts
  pnpm-lock.yaml
Due: lint-staged, format-staged, type-check

refactor(api): separations of concerns: handlers, routes, schemas
  apps/api/package.json
  apps/api/src/app.ts
  apps/api/src/index.ts
  apps/api/src/modules/health/health.handler.ts
  apps/api/src/modules/health/health.routes.ts
  apps/api/src/modules/health/health.schema.ts
  apps/api/src/modules/health/index.ts
  apps/api/src/modules/quotes/index.ts
  apps/api/src/modules/quotes/quotes.handler.ts
  apps/api/src/modules/quotes/quotes.routes.ts
  apps/api/src/modules/quotes/quotes.schema.ts
  apps/api/src/routes/health.test.ts
  apps/api/src/routes/health.ts
  apps/api/src/routes/quotes.test.ts
  apps/api/src/routes/quotes.ts
  apps/api/src/server.ts
Due: lint-staged, format-staged, type-check

doc(api): separation-of-concerns arquitectural approach
  apps/api/ARCHITECTURE.md
  apps/api/README.md
  packages/core/AGENTS.md
Due: format-staged

refactor: versioning format changed to avoid ambiguity
  apps/api/api-version.json
  apps/api/src/config/api-version.config.ts
  apps/api/src/config/api-version.data.ts
  apps/api/src/config/api-version.schema.ts
  apps/api/src/config/versions.config.test.ts
  apps/api/src/config/versions.config.ts
  apps/api/src/config/versions.config.validation.test.ts
  apps/api/src/modules/health/health.handler.ts
  apps/api/src/modules/health/health.schema.ts
Due: lint-staged, format-staged, type-check

doc: explain version config
  apps/api/ARCHITECTURE.md
  apps/api/src/config/versions.config.ts
Due: lint-staged, format-staged, type-check

refactor: test files for endpoints moved within specific folder
  apps/api/src/modules/health/health.test.ts
  apps/api/src/modules/quotes/quotes.test.ts
Due: lint-staged, type-check

doc: rearrange topics after refactor
  AGENTS.md
  README.md
  packages/core/README.md
Due: format-staged

fix(core): add metadata columns to view_listings (fixes #2)
  packages/core/src/db.test.ts
  packages/core/src/db.ts
Due: lint-staged, type-check

fix(core): add metadata columns to view_listings (fixes #2) (#4)
  packages/core/src/db.test.ts
  packages/core/src/db.ts
Due: lint-staged, type-check

feat: new listing for BIT:3SIL IE00B7XD2195 WISDOMTREE SILVER 3X DAILY LEVERAGED
  packages/core/src/seeds/instruments.ts
  packages/core/src/seeds/listings.ts
Due: lint-staged, type-check

feat: new listing for BIT:3SIL IE00B7XD2195
  packages/core/src/seeds/instruments.ts
  packages/core/src/seeds/listings.ts
Due: lint-staged, type-check

fix: normalize instrument_type and update documentation
  packages/core/doc/DATABASE.md
  packages/core/doc/diagrams/data_model.puml
  packages/core/doc/images/data_model.svg
  packages/core/src/db.ts
  packages/core/src/seeds/index.ts
  packages/core/src/seeds/instrument_types.ts
Due: lint-staged, format-staged, type-check

fix: normalize instrument_type and update documentation (#7)
  packages/core/doc/DATABASE.md
  packages/core/doc/diagrams/data_model.puml
  packages/core/doc/images/data_model.svg
  packages/core/src/db.ts
  packages/core/src/seeds/index.ts
  packages/core/src/seeds/instrument_types.ts
Due: lint-staged, format-staged, type-check

docs: reorganize data model diagram layout
  packages/core/doc/diagrams/data_model.puml
Due: none

doc: add new diagram render
  packages/core/doc/images/data_model.svg
Due: none

docs: reorganize data model diagram layout (#8)
  packages/core/doc/diagrams/data_model.puml
  packages/core/doc/images/data_model.svg
Due: none

chore: remove internal architecture proposal doc
  packages/core/doc/ARCHITECTURE_PROPOSAL.md
Due: format-staged

chore: AGENTS updated with explicit rule to avoid type ad wildcard
  packages/core/AGENTS.md
Due: format-staged

feat: new listings repository as abstraction layer
  packages/core/src/index.ts
  packages/core/src/repositories/listing.repository.ts
Due: lint-staged, type-check

feat: extends quote service to the new capability getQuotes
  apps/api/src/domain/interfaces/market-data-provider.ts
  apps/api/src/domain/services/quote-service.ts
  apps/api/src/infrastructure/providers/mock-provider.ts
  apps/api/src/infrastructure/providers/twelve-data-provider.ts
  apps/api/src/plugins/quote-service-plugin.ts
Due: lint-staged, type-check

feat: new endpoint to get quotes in batch mode
  apps/api/src/modules/quotes/quotes.handler.ts
  apps/api/src/modules/quotes/quotes.routes.ts
  apps/api/src/modules/quotes/quotes.schema.ts
Due: lint-staged, type-check

test: adding unit tests for the get quotes endpoint
  apps/api/src/modules/quotes/quotes.batch.test.ts
  apps/api/src/modules/quotes/quotes.test.ts
Due: lint-staged, type-check

fix: get DB_PATH as priority db path
  apps/api/src/server.ts
  packages/core/src/db.ts
Due: lint-staged, type-check

chore: update game workflow to run weekly via PR
  .github/workflows/update-game.yml
Due: format-staged

Batch quotes endpoint and just allowed symbols (#9)
  .github/workflows/update-game.yml
  apps/api/src/domain/interfaces/market-data-provider.ts
  apps/api/src/domain/services/quote-service.ts
  apps/api/src/infrastructure/providers/mock-provider.ts
  apps/api/src/infrastructure/providers/twelve-data-provider.ts
  apps/api/src/modules/quotes/quotes.batch.test.ts
  apps/api/src/modules/quotes/quotes.handler.ts
  apps/api/src/modules/quotes/quotes.routes.ts
  apps/api/src/modules/quotes/quotes.schema.ts
  apps/api/src/modules/quotes/quotes.test.ts
  apps/api/src/plugins/quote-service-plugin.ts
  apps/api/src/server.ts
  packages/core/src/db.ts
  packages/core/src/index.ts
  packages/core/src/repositories/listing.repository.ts
Due: lint-staged, format-staged, type-check

feat: new listings endpoint with filtering and pagination support
  apps/api/src/app.ts
  apps/api/src/domain/services/listing-service.ts
  apps/api/src/modules/listings/listings.handler.ts
  apps/api/src/modules/listings/listings.routes.ts
  apps/api/src/modules/listings/listings.schema.ts
  apps/api/src/modules/listings/listings.test.ts
  apps/api/src/plugins/listing-service-plugin.ts
  apps/api/src/plugins/quote-service-plugin.ts
  apps/api/src/plugins/repository-plugin.ts
  packages/core/src/db.ts
  packages/core/src/repositories/listing.repository.ts
  packages/core/src/seeds/currencies.integration.test.ts
  packages/core/src/seeds/metadata.integration.test.ts
Due: lint-staged, type-check

fix: introduce semantic versioning to validate requests against the minimum supported endpoint version
  apps/api/package.json
  apps/api/src/app.ts
  apps/api/src/modules/listings/listings.test.ts
  apps/api/src/plugins/versioned-routes.plugin.ts
  pnpm-lock.yaml
Due: lint-staged, format-staged, type-check
