Repository jasset75/symb0l: changes, and which lefthook commands are due for each by the changed paths.
All: lint-staged, format-staged, type-check

lefthook.yml:

# Lefthook configuration for pre-commit hooks
# https://github.com/evilmartians/lefthook

pre-commit:
  parallel: true
  commands:
    compile-diagrams:
      run: export PATH=$HOME/.local/share/mise/shims:$PATH && pnpm run compile-diagrams
      stage_fixed: true

    lint-staged:
      glob: "*.{js,ts,mjs}"
      run: |
        pnpm exec eslint {staged_files} && \
        pnpm exec prettier --check {staged_files}

    format-staged:
      glob: "*.{json,md,yml,yaml}"
      run: pnpm exec prettier --check {staged_files}

    type-check:
      glob: "*.{ts,tsx}"
      run: pnpm exec tsc --noEmit

    # tests:
    #   glob: "*.{ts,tsx}"
    #   run: pnpm test

feat(tui): add listing filter autocomplete
  apps/tui/src/app.rs
  apps/tui/src/filter.rs
  apps/tui/src/main.rs
  apps/tui/src/ui.rs
Due: none

docs: document tui roadmap
  CHANGELOG.md
  ROADMAP.md
Due: format-staged

chore: run hooks through mise
  lefthook.yml
Due: format-staged

fix(tui): use ipv4 loopback for api default
  Justfile
  apps/tui/src/app.rs
  apps/tui/src/main.rs
Due: none

feat(tui): add industry filters
  apps/tui/src/app.rs
  apps/tui/src/filter.rs
  apps/tui/src/ui.rs
Due: none

feat(core): seed take-two listing
  packages/core/src/seeds/index.ts
  packages/core/src/seeds/instruments.ts
  packages/core/src/seeds/listings.ts
  packages/core/src/seeds/metadata.integration.test.ts
  packages/core/src/seeds/sub_industries.ts
Due: lint-staged, type-check
