Repository jasset75/symb0l: changes, and which lefthook commands are due for each by the changed paths.
All: lint-staged, format-staged, type-check

lint-staged:
  run: 'pnpm exec eslint {staged_files} && \
  
    pnpm exec prettier --check {staged_files}
  
    '

format-staged:
  run: pnpm exec prettier --check {staged_files}

type-check:
  run: pnpm exec tsc --noEmit

chore(test): testing init + agreement
  .gitignore
  doc/TESTING.md
  lefthook.yml
  package.json
  src/seeds/currencies.integration.test.ts
Due: lint-staged, format-staged, type-check

feat(db): add database management scripts and docs
  README.md
  doc/DATABASE.md
  package.json
Due: format-staged

doc: some cosmetic changes and a self-explanatory reference
  README.md
  doc/DATABASE.md
Due: format-staged

seed for exchanges, changed design pattern to better seed generator approach
  src/seeds/exchanges.ts
  src/seeds/index.ts
  src/seeds/seeder.ts
Due: lint-staged, type-check

refactor(seeder): added transform to revolve foreign keys refactor(exchange): now market and exchange are consistent with the data domain
  AGENTS.md
  src/db.ts
  src/seeds/exchanges.integration.test.ts
  src/seeds/exchanges.ts
  src/seeds/index.ts
  src/seeds/markets.integration.test.ts
  src/seeds/markets.ts
  src/seeds/resolvers.ts
  src/seeds/seeder.ts
Due: lint-staged, format-staged, type-check

refactor: follow dependency inyection
  AGENTS.md
  src/seeds/index.ts
  src/seeds/lib/resolvers.test.ts
  src/seeds/lib/resolvers.ts
  src/seeds/lib/seeder.test.ts
  src/seeds/lib/seeder.ts
Due: lint-staged, format-staged, type-check

refactor: implement builder pattern for seeding with encapsulated FK resolution
  AGENTS.md
  src/seeds/index.ts
  src/seeds/lib/SeederBuilder.test.ts
  src/seeds/lib/SeederBuilder.ts
  src/seeds/lib/resolvers.test.ts
  src/seeds/lib/resolvers.ts
  src/seeds/lib/seeder.test.ts
  src/seeds/lib/seeder.ts
Due: lint-staged, format-staged, type-check

chore: new data source added to git ignore
  .gitignore
Due: none

chore: vscode config ignored
  .gitignore
Due: none

feat: add country table with ISO 3166-1 alpha-2 codes
  .gitignore
  doc/DATABASE.md
  doc/diagrams/data_model.puml
  doc/images/data_model.svg
  src/db.test.ts
  src/db.ts
  src/seeds/countries.ts
  src/seeds/exchanges.integration.test.ts
  src/seeds/exchanges.ts
  src/seeds/index.ts
  src/seeds/markets.integration.test.ts
  src/seeds/markets.ts
Due: lint-staged, format-staged, type-check

fix: remove unused error variable in markets integration test
  src/seeds/markets.integration.test.ts
Due: lint-staged, type-check

chore: changed to improve read/write performance based on project use case
  src/db.ts
Due: lint-staged, type-check

feat: added instruments as part of data model
  doc/DATABASE.md
  src/seeds/index.ts
  src/seeds/instruments.ts
Due: lint-staged, format-staged, type-check

feat: modify for named parameters
  src/seeds/lib/SeederBuilder.test.ts
  src/seeds/lib/SeederBuilder.ts
Due: lint-staged, type-check

feat: add listings seed
  src/seeds/listings.ts
Due: lint-staged, type-check

fix: missed market
  src/seeds/markets.ts
Due: lint-staged, type-check

feat: add listings to index database manager
  src/seeds/index.ts
Due: lint-staged, type-check

doc: new listings feature on the database model
  doc/DATABASE.md
Due: format-staged

fix: integration test up to date
  src/seeds/markets.integration.test.ts
Due: lint-staged, type-check

feat: delete persistent column that can be resolved as a calculated field
  doc/diagrams/data_model.puml
  doc/images/data_model.svg
  src/db.test.ts
  src/db.ts
  src/seeds/index.ts
  src/seeds/listings.ts
Due: lint-staged, type-check

feat: new listings view to retrieve all listings data but denormalised
  doc/DATABASE.md
  doc/diagrams/data_model.puml
  doc/images/data_model.svg
  src/db.test.ts
  src/db.ts
Due: lint-staged, format-staged, type-check

chore: add file extension from tooling
  .gitignore
Due: none

chore: github game just for fun
  .github/workflows/update-game.yml
  README.md
Due: format-staged

chore: first game image
  game.gif
Due: none

chore: ignore special sqlite files
  .gitignore
Due: none

chore: ignore ad-hoc script
  .gitignore
Due: none

feat: make foreign key optional nullable
  src/seeds/lib/SeederBuilder.ts
Due: lint-staged, type-check

feat: add instrument metadata as seeder inputs
  src/db.ts
  src/seeds/asset_class_levels.ts
  src/seeds/country_exposures.ts
  src/seeds/instruments.ts
  src/seeds/market_caps.ts
  src/seeds/profiles.ts
  src/seeds/risk_levels.ts
  src/seeds/sectors.ts
  src/seeds/sub_industries.ts
Due: lint-staged, type-check

feat: seed database with new instrument metadata at startup
  src/seeds/index.ts
Due: lint-staged, type-check

feat: integration test for checking new metadata structure
  src/seeds/metadata.integration.test.ts
Due: lint-staged, type-check

doc: GICS reference plus exceptions, database model diagram updated
  doc/DATABASE.md
  doc/diagrams/data_model.puml
  doc/images/data_model.svg
Due: format-staged

feat: new listings for SLAB
  src/seeds/instruments.ts
  src/seeds/listings.ts
Due: lint-staged, type-check

style: just fixing the symb0l word as monospace typography
  README.md
Due: format-staged

feat: first endpoint draft
  apps/api/.env.example
  apps/api/package.json
  apps/api/src/index.ts
  apps/api/src/routes/quotes.ts
  apps/api/src/services/twelvedata.ts
  pnpm-lock.yaml
Due: lint-staged, format-staged, type-check

chore: introduce git worktrees into the workflow
  .gitignore
  packages/core/AGENTS.md
Due: format-staged

feat: new symbol IPX listed
  packages/core/src/seeds/instruments.ts
  packages/core/src/seeds/listings.ts
  packages/core/src/seeds/sub_industries.ts
Due: lint-staged, type-check

feat: Add NASDAQ:IPX
  packages/core/src/seeds/instruments.ts
  packages/core/src/seeds/listings.ts
  packages/core/src/seeds/sub_industries.ts
Due: lint-staged, type-check

Path conditions:
  lint-staged: any of: *.{js,ts,mjs}
  format-staged: any of: *.{json,md,yml,yaml}
  type-check: any of: *.{ts,tsx}
