Repository jasset75/symb0l: changes, and which lefthook commands are due for each by the changed paths.
All: lint-staged, format-staged, type-check

lint-staged:
  run: 'pnpm exec eslint {staged_files} && \
  
    pnpm exec prettier --check {staged_files}
  
    '

format-staged:
  run: pnpm exec prettier --check {staged_files}

type-check:
  run: pnpm exec tsc --noEmit

fix: not available aggregates should output deterministic schema, besides avoiding silent errors/outages
  apps/api/ARCHITECTURE.md
  apps/api/src/app.ts
  apps/api/src/domain/services/listing-service.ts
  apps/api/src/modules/listings/listings.schema.ts
  apps/api/src/modules/listings/listings.test.ts
  apps/api/src/modules/quotes/quotes.schema.ts
  apps/api/src/schemas/common.ts
Due: lint-staged, format-staged, type-check

feat: add listing provider symbol
  apps/api/ARCHITECTURE.md
  apps/api/src/domain/services/quote-service.test.ts
  apps/api/src/domain/services/quote-service.ts
  apps/api/src/modules/quotes/quotes.batch.test.ts
  apps/api/src/plugins/quote-service-plugin.ts
  packages/core/doc/DATABASE.md
  packages/core/doc/diagrams/data_model.puml
  packages/core/doc/images/data_model.svg
  packages/core/src/db.test.ts
  packages/core/src/db.ts
  packages/core/src/repositories/listing.repository.ts
  packages/core/src/seeds/index.ts
  packages/core/src/seeds/lib/SeederBuilder.test.ts
  packages/core/src/seeds/lib/SeederBuilder.ts
  packages/core/src/seeds/listing_provider_symbols.ts
  packages/core/src/seeds/metadata.integration.test.ts
Due: lint-staged, format-staged, type-check

chore: improve worktrees management by agents
  AGENTS.md
Due: format-staged

fix: quote currency is the symbol on the right for currency pairs
  packages/core/src/seeds/listings.ts
Due: lint-staged, type-check

fix: twelve provider now is able to resolve quotes even with no currency or timestamp info
  apps/api/src/infrastructure/providers/twelve-data-provider.ts
Due: lint-staged, type-check

refactor(core): listing repo is retrieving not just canonical symbol but symbol for the queried provider
  packages/core/src/repositories/listing.repository.ts
Due: lint-staged, type-check

feat(api): listing and quote services changes to provide attached quote regardless how the canonical symbol is known for the provider
  apps/api/src/domain/services/listing-service.ts
  apps/api/src/domain/services/quote-service.ts
Due: lint-staged, type-check

fix(api): ambiguous symbol error handled for quote service
  apps/api/src/modules/quotes/quotes.handler.ts
Due: lint-staged, type-check

doc(api): clarification about sunsetted APIs
  apps/api/ARCHITECTURE.md
Due: format-staged

fix(api): improve type correlation and add exhaustive checks for health route version config fallback
  apps/api/src/modules/health/health.routes.ts
  apps/api/src/modules/health/health.test.ts
  apps/api/src/plugins/listing-service-plugin.ts
  apps/api/src/plugins/quote-service-plugin.ts
  apps/api/src/plugins/repository-plugin.ts
Due: lint-staged, type-check

refactor(api): centralize fastify type augmentations
  apps/api/src/plugins/listing-service-plugin.ts
  apps/api/src/plugins/quote-service-plugin.ts
  apps/api/src/plugins/repository-plugin.ts
  apps/api/src/plugins/version-resolver.plugin.ts
  apps/api/src/types/fastify.d.ts
Due: lint-staged, type-check

doc(worktree): add database seeding requirement to bootstrap guide
  AGENTS.md
Due: format-staged

chore: extract logic to helper
  apps/api/src/config/versions.config.ts
  apps/api/src/plugins/versioned-routes.plugin.ts
Due: lint-staged, type-check

refactor(api): implement centralized DI container and configure fastify-autoload
  apps/api/src/app.ts
  apps/api/src/infrastructure/di/container.ts
  apps/api/src/plugins/di.plugin.ts
  pnpm-lock.yaml
Due: lint-staged, format-staged, type-check

refactor(api): remove obsolete manual service plugins
  apps/api/src/plugins/listing-service-plugin.ts
  apps/api/src/plugins/quote-service-plugin.ts
  apps/api/src/plugins/repository-plugin.ts
Due: lint-staged, type-check

refactor(api): use simple ignorePattern regex for fastify-autoload
  apps/api/src/app.ts
Due: lint-staged, type-check

refactor(api): pure autoload architecture using plugin dependencies
  apps/api/src/app.ts
  apps/api/src/plugins/routes.plugin.ts
  apps/api/src/plugins/setup.plugin.ts
  apps/api/src/plugins/swagger.plugin.ts
Due: lint-staged, type-check

doc(api): add developer guide for DI and autoload architecture
  AGENTS.md
Due: format-staged

fix(api): prevent version drift in health routes with exhaustive check and default fallback
  apps/api/src/modules/health/health.routes.ts
  apps/api/src/plugins/routes.plugin.ts
Due: lint-staged, type-check

refactor(api): inject Fastify logger into domain services to improve observability
  apps/api/src/domain/services/listing-service.ts
  apps/api/src/infrastructure/di/container.ts
  apps/api/src/infrastructure/providers/twelve-data-provider.ts
  apps/api/src/plugins/di.plugin.ts
Due: lint-staged, type-check

fix(api): fix missing fastify autoload dependency and broken pino-pretty dev script
  apps/api/package.json
  pnpm-lock.yaml
Due: format-staged

feat(api): add minor version aliases with automatic patch resolution
  apps/api/src/config/minor-alias.test.ts
  apps/api/src/config/versions.config.test.ts
  apps/api/src/config/versions.config.ts
  apps/api/src/modules/health/health.handler.ts
  apps/api/src/modules/health/health.routes.ts
  apps/api/src/modules/quotes/quotes.test.ts
  apps/api/src/plugins/swagger.plugin.ts
  apps/api/src/plugins/version-headers.plugin.ts
  apps/api/src/plugins/version-headers.test.ts
  apps/api/src/plugins/version-resolver.plugin.ts
  apps/api/src/plugins/versioned-routes.plugin.ts
Due: lint-staged, type-check

fix: swagger documentation was not showing right info due to plugin dependencies
  apps/api/src/plugins/routes.plugin.ts
Due: lint-staged, type-check

fix: set push.autoSetupRemote to fix update-game workflow
  .github/workflows/update-game.yml
Due: format-staged

fix: push branch to origin before action to set upstream
  .github/workflows/update-game.yml
Due: format-staged

fix: remove automated label from pr creation
  .github/workflows/update-game.yml
Due: format-staged

fix: make workflow idempotent (force push + skip existing PR)
  .github/workflows/update-game.yml
Due: format-staged

fix: push branch to origin before action to set upstream (#16)
  .github/workflows/update-game.yml
Due: format-staged

refactor(doc): AGENTS optimization to minimise token comsumption and context saving
  AGENTS.md
  CONTRIBUTING.md
  README.md
  apps/api/ARCHITECTURE.md
  packages/core/README.md
  packages/core/doc/DATABASE.md
  packages/core/doc/DIAGRAMS.md
Due: format-staged

refactor(doc): AGENTS optimization to minimise token comsumption and context saving (#20)
  AGENTS.md
  CONTRIBUTING.md
  README.md
  apps/api/ARCHITECTURE.md
  packages/core/README.md
  packages/core/doc/DATABASE.md
  packages/core/doc/DIAGRAMS.md
Due: format-staged

feat(tui): create tui app with basic features to iterate on
  .gitignore
  apps/tui/Cargo.lock
  apps/tui/Cargo.toml
  apps/tui/src/api.rs
  apps/tui/src/app.rs
  apps/tui/src/event.rs
  apps/tui/src/filter.rs
  apps/tui/src/main.rs
  apps/tui/src/ui.rs
  package.json
Due: format-staged

chore: add mise and just tooling
  .gitignore
  .mise.toml
  Justfile
  package.json
Due: format-staged

chore: update lefthook pre-push to use just
  lefthook.yml
Due: format-staged

docs: update README with mise, just, and TUI tooling
  README.md
Due: format-staged

chore: add mise and just tooling (#26)
  .gitignore
  .mise.toml
  Justfile
  README.md
  lefthook.yml
  package.json
Due: format-staged

chore: sync assets symbols
  packages/core/src/seeds/instruments.ts
  packages/core/src/seeds/listings.ts
  packages/core/src/seeds/sub_industries.ts
Due: lint-staged, type-check

chore: sync assets symbols (#32)
  packages/core/src/seeds/instruments.ts
  packages/core/src/seeds/listings.ts
  packages/core/src/seeds/sub_industries.ts
Due: lint-staged, type-check

chore: improve tui dev runner
  .gitignore
  Justfile
Due: none

fix(api): harden twelve data batching
  apps/api/.env.example
  apps/api/src/infrastructure/di/container.ts
  apps/api/src/infrastructure/providers/twelve-data-provider.ts
Due: lint-staged, type-check

Path conditions:
  lint-staged: any of: *.{js,ts,mjs}
  format-staged: any of: *.{json,md,yml,yaml}
  type-check: any of: *.{ts,tsx}
